/* In CSS, you can declare a custom property using two dashes as a prefix for the property name, 
or by using the @property at-rule */
:root {
  --main-bg-color: brown;
}
.details {
  background-color: var(--main-bg-color);
}

@property --box-color {
  syntax: "<color>";
  inherits: false;
  initial-value: teal;
}
.parent {
  --box-color: green;
  background-color: var(--box-color);
}
.one {
  /* Red if --my-var is not defined */
  color: var(--my-var, red);
}
.two {
  /* pink if --my-var and --my-background are not defined */
  color: var(--my-var, var(--my-background, pink));
}
